/* '*' selects all elements */
* {
  box-sizing: border-box; /*includes padding and boarder in elements overall width and height*/
  margin: 0;
  padding: 0;
}

/*Pages color palette*/
:root { /*Below are custom properties that can be used in other locations with the var function*/
  --tertiary:#a65766;
  --dark:#55252a;
  --light: #FFF7FC;
}

nav {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  background-color: var(--light);
  border-style: none none solid none;
  
}

body {
  background-color: var(--dark);
}

h1,h2{
  display: flex;
  justify-content: center;
  padding-top: 15px;
  color: var(--light);
}

h3 {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  color: var(--dark);
}

img {
  width: 700px;
  height: 400px;
  padding: 5px;
}

.image {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 20px;
  padding-top: 10px;
}

main {
  background-color: var(--light);
  color: var(--dark);
  
}

p {
  margin: 20px;
  font-size: 20px;
}

#work {
  display: grid;
  grid-template-areas: 
    'left left  middle middle right right ';
  justify-content: center; /*only use center*/
  text-align: center;
  margin: 50px;
  background-color: var(--tertiary);
}
    
.left, .middle, .right {
  padding: 30px ;
  margin: 50px;
  height: 200px;
  width: 350px;
}

/* Style the left column */
.left {
  grid-area: left;
}

.middle {
  grid-area: middle;
}

.right {
  grid-area: right;
}

#contact {
  padding: 15px 25px;
  margin: 0 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact {
background-color: var(--tertiary);
}

@media screen and (max-width: 503px) {

  h1{
    padding-left: 22px;
    font-size: 20px;
    
  }

  img {
    
    width: 310px;
    height: 200px;
    padding: 5px;
    
  }

  .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
  }
  
  #work {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    padding-left: 10px;
  }

  .left, .middle, .right {
    
    margin: 25px;
    height: 150px;
    width: 200px;
  }

  #contact {
    padding: 5px 7px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

@media screen and (max-width: 770px) {
  h1{
    padding-left: 22px;
    font-size: x-large;
  }

  img {
    
    width: 290px;
    height: 200px;
    padding: 5px;
    
  }

  .image {
    display: flex;
    align-items: center;
  }
  
  #work {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .left, .middle, .right {
    
    margin: 15px;
    height: 120px;
    width: 220px;
  }

  #contact {
    padding: 20px 25px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}