/* '*' selects all elements */
* {
  box-sizing: border-box; /*includes padding and boarder in elements overall width and height*/
  margin: 0;
  padding: 0;
}

/*Pages color palette*/
:root { /*Below are custom properties that can be used in other locations with the var function*/
  --primary:#67AAF9;
  --secondary:#EED2CC;
  --tertiary:#723D46;
  --dark:#472D30;
  --light: #FBF7F4;
}