/* '*' selects all elements */
* {
  box-sizing: border-box; /*includes padding and boarder in elements overall width and height*/
  margin: 0;
  padding: 0;
}

/*Pages color palette*/
:root { /*Below are custom properties that can be used in other locations with the var function*/
  --tertiary:#a65766;
  --dark:#55252a;
  --light: #FFF7FC;
}

nav {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  background-color: var(--light);
  border-style: none none solid none;
  
}

body {
  background-color: var(--tertiary);
}

h1,h2{
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

img {
  width: 700px;
  height: 400px;
  padding: 5px;
}

.image {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 20px;
  padding-top: 10px;
}

main {
  background-color: var(--light);
  color: var(--dark);
  
}

p {
  margin: 20px;
  font-size: 20px;
}

#work {
  display: grid;
  grid-template-areas: 
    'left left  middle middle right right ';
  justify-content: center; /*only use center*/
  text-align: center;
  margin: 50px;
  background-color: var(--dark);
}
    
.left, .middle, .right {
  padding: 30px ;
  margin: 50px;
  height: 200px;
  width: 350px;
}

/* Style the left column */
.left {
  grid-area: left;
}

.middle {
  grid-area: middle;
}

.right {
  grid-area: right;
}

#contact {
  padding: 15px 25px;
  margin: 0 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-around
}

.contact {
background-color: var(--tertiary);
}